.main-container {
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-sizing: border-box;
}

.header-container {
  width: 1000px;
  height: 300px;
  position: relative; /* 相対的な位置を持たせる */
}

header {
  background-image: url(../image/artist/どろしΞ/compress_初音ミク.png);
  background-size: cover;
  background-position: 50% 70%;
  margin: 0 auto;
  height: 250px;
  clip-path: inset(10px 10px 10px 10px round 15px);
  filter: grayscale(50%) contrast(0.7); /* グレースケールとコントラストを変更 */
}

.icon-container {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%); /* 左端を中央に移動 */
}

.icon {
  width: 100px;
  height: auto;
  overflow: hidden; /* 要素がはみ出した場合に隠す */
  box-shadow: 0 0 0 5px white; /* アイコンに白いボーダーを追加 */
}

.follow-box {
  width: 150px;
  height: 35px;
  background-color: rgb(43, 43, 43);
  border-radius: 15px;
  position: absolute;
  left: 20%; /* .icon-containerの右端に配置 */
  margin-left: 20px; /* 適切なマージンを設定 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.follow {
  margin-top: 8px;
  font-size: 15px;

  font-family: "LEMON MILK";
  font-weight: normal;
  font-style: normal;

  color: #ffffff;
}

.main2-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 890px;
  height: auto;
  max-width: 890px; /* 最大幅を設定 */
}
.name-container {
  display: flex;
  align-items: center;
}

.name-box {
  width: 200px;
  height: 50px;
}

.name {
  font-size: 35px;
  font-family: "ぼくたちのゴシック２ボールド";
}

.SNS-container {
  display: flex;
  margin-left: 50px;
  margin-top: 45px;
}

.SNS-background {
  width: 140px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 0px;
  background-color: rgb(66, 64, 64);
  transform: translate(-50%, -50%);
  border: 4px dashed #4a4a4a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SNS-name {
  color: rgb(255, 255, 255);
  font-family: "LEMON MILK";
  font-size: 15px;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  margin-top: 2px;
}
.self-introduction-box {
  width: 800px;
  height: auto;
}
.self-introduction {
  margin-top: 20px;
  font-size: 19px;
  font-family: "ほのか新丸ゴシック";
}

.line {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(200, 72, 72, 0.818);
}
.illustration-box {
  margin-top: 100px;
  margin-right: auto;
  width: 400px; /* 幅を指定 */
  height: 50px; /* 高さを指定 */
  background-color: rgba(236, 165, 165, 0.818); /* 背景色を指定 */
  display: flex;
}
.illustration {
  font-family: "LEMON MILK";
  font-size: 20px;
  margin: auto;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
}
.illustration_field1 {
  margin-top: 20px;
  width: 400px;
  height: 400px;
  float: left;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.illustration_field1 img {
  width: 100%; /* 画像を親要素の幅に合わせる */
  height: auto; /* 高さを自動調整 */
}

.illustration_field2 {
  margin-top: 20px;
  width: 400px;
  height: 190px;
  margin-left: 420px;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.illustration_field2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像を親要素にフィットさせる */
  object-position: 20% 20%; /* 左から20%、上から80%の位置に表示 */
}

.illustration_field3 {
  margin-top: 20px;
  width: 400px;
  height: 190px;
  margin-left: 420px;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.illustration_field3 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像を親要素にフィットさせる */
  object-position: 20% 20%; /* 左から20%、上から80%の位置に表示 */
}
.the-work1 {
  margin-top: 20px;
  width: 400px;
  height: auto;
  float: left;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.the-work1 img {
  width: 400px; /* 画像を親要素の幅に合わせる */
  height: auto; /* 高さを自動調整 */
}

.the-work2 {
  margin-top: 20px;
  width: 400px;
  height: auto;
  margin-left: 420px;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.the-work2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像を親要素にフィットさせる */
  object-position: 20% 20%; /* 左から20%、上から80%の位置に表示 */
}

.the-work3 {
  margin-top: 20px;
  width: 400px;
  float: left;
  height: auto;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.the-work3 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像を親要素にフィットさせる */
  object-position: 20% 20%; /* 左から20%、上から80%の位置に表示 */
}
.the-work4 {
  margin-top: 20px;
  width: 400px;
  height: auto;
  margin-left: 420px;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.the-work4 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像を親要素にフィットさせる */
  object-position: 20% 20%; /* 左から20%、上から80%の位置に表示 */
}
