/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.container1 {
  width: 900px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* シャドーの追加 */
  background-color: #ffffff;
}

.letter {
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  font-family: "ぼくたちのゴシック2ボールド";
  font-weight: bold;
}

.white-text {
  font-size: 20px;
  color: black; /* または希望のテキストの色を指定 */
}
@media screen and (max-width: 600px) {
  .container1 {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
  }

  .letter {
    font-size: 20px;
  }

  .white-text {
    font-size: 16px;
  }
}
