<!DOCTYPE html>
<html lang="ja">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/menubar.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename=css) }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!-- menubar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('contents') }}">
          <img
            src="{{ url_for('static', filename='image/common/home_icon.png') }}"
            width="90px"
            alt="home"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contents') }}">Contents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('creators') }}">Creators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('how') }}">How to</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('rule') }}">Rule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Form</a>
            </li>

            {% if not current_user.is_authenticated %}
            <li class="nav-item" id="login" data-is_login="false">
              <form action="/login" method="get">
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-is_login="false"
                >
                  Login
                </button>
              </form>
            </li>
            {% else %}
            <li class="nav-item" id="login" data-is_login="true">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-is_login="true"
                >
                  {{ current_user.name }}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">いいねした素材</a></li>
                  <li>
                    <a class="dropdown-item" href="#"
                      >フォローしたクリエイター</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('logout') }}"
                      >logout</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- menubar -->

    {% block main %} {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>
