{% extends "base.html" %} {% block main %}

<div class="main_container">
  <!-- 画面左側 -->
  <div class="left-side-of-screen">
    <div class="sample-image-container">
      <img
        src="{{ url_for('static', filename=content.filename) }}"
        class="imageactive"
      />
    </div>
    <h1 class="explanation">{{ content.desc| safe }}</h1>

    <div class="Related-summary">
      <h1 class="connection">その他の立ち絵</h1>
      <div class="triangle"></div>
      <div class="Other-portraits">
        {% for other_content in other_contents %}
        <div class="other_image">
          <a
            href="{{ url_for('content',content_name=other_content.name, content_id=other_content.id) }}"
          >
            <img
              class="image"
              src="{{ url_for('static', filename=other_content.icon) }}"
              id="yadaImage"
          /></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- 画面右側 -->
  <div class="right-side-of-screen">
    <div class="matome3">
      <div class="block-1">
        <div class="vertical-box">
          <h1 class="jp-name">{{ character.jp_name }}</h1>
          <h1 class="en-name">{{ character.en_name }}</h1>
        </div>
        <div
          class="black-border"
          id="like-button"
          data-content_id="{{ content.id }}"
          data-is_login="{{ current_user.get_id() }}"
          onclick="onClickLikeButton(this.dataset.content_id)"
        >
          {% if content.isLike(current_user.get_id()) %}
          <img
            src="{{ url_for('static', filename='image/common/like.png') }}"
            class="like-image"
          />
          {% else %}
          <img
            src="{{ url_for('static', filename='image/common/unlike.png') }}"
            class="like-image"
          />
          {% endif %}
          <div class="gray-circle">
            <h1 class="numerical-value" id="like-count">{{ like_count }}</h1>
          </div>
        </div>
        <div class="line"></div>
        <div class="gray-background">
          <a href="https://www.youtube.com/" class="download-button">
            <img
              src="{{ url_for('static', filename='image/common/download.png') }}"
              class="pictogram-image"
            />
            <h1 class="download-characters">download</h1>
          </a>
        </div>
        <div class="line2"></div>
        <div class="illustrator-box">
          <div class="gray-box">
            <a href="{{ url_for('creator', creator_id=creator.id) }}"
              ><img
                src="{{ url_for('static', filename=creator.icon) }}"
                class="icon"
            /></a>
            <div class="name-box">
              <h1 class="Creator-name">{{ creator.name }}</h1>
              <div class="follow-box" onclick="handleFollowClick()">
                <h1 class="follow">follow</h1>
              </div>
              <!--切り替え用 <h1 class="follow">followed</h1>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/onClickLikeButton.js') }}"></script>
{% endblock %}
