{% extends "base.html" %} {% block main %}
<main>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <!-- stats - count particles -->
  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <!-- stats.js lib -->
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  <div class="name-button">
    <a href="#" class="button" id="button1">博麗霊夢</a>
    <a href="#" class="button" id="button2">霧雨魔理沙</a>
    <a href="#" class="button" id="button3">犬走椛</a>
    <a href="#" class="button" id="button4">秦こころ</a>
    <a href="#" class="button" id="button5">ルーミア</a>
    <a href="#" class="button" id="button6">鈴仙・優曇華院・イナバ</a>
    <a href="#" class="button" id="button7">マエリベリー・ハーン</a>
    <a href="#" class="button" id="button8">洩矢諏訪子</a>
    <a href="#" class="button" id="button9">藤原妹紅</a>
    <a href="#" class="button" id="button10">蓬莱山輝夜</a>
    <a href="#" class="button" id="button11">火焔猫燐</a>
    <a href="#" class="button" id="button12">高麗野あうん</a>
  </div>
  <div class="image_container">
    {% for content in contents %}
    <div class="image">
      <a href="{{ url_for('content', content_id=content.id) }}">
        <img
          src="{{ url_for('static', filename=content.icon) }}"
          alt="{{ content.name }}"
        />
      </a>
    </div>
    {% endfor %}
  </div>
  <script src="{{ url_for('static', filename='js/contents.js') }}"></script>
</main>
{% endblock %}
