{% extends "base.html" %} {% block main %}
<main>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <!-- stats - count particles -->
  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <!-- stats.js lib -->
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  <div class="name-button">
    <a href="#" class="button" id="button1">博麗霊夢</a>
    <a href="#" class="button" id="button2">霧雨魔理沙</a>
    <a href="#" class="button" id="button3">東風谷早苗</a>
    <a href="#" class="button" id="button4">魂魄妖夢</a>
    <a href="#" class="button" id="button5">十六夜咲夜</a>
    <a href="#" class="button" id="button6">古明地さとり</a>
    <a href="#" class="button" id="button7">古明地こいし</a>
    <a href="#" class="button" id="button8">フランドール・スカーレット</a>
    <a href="#" class="button" id="button9">レミリア・スカーレット</a>
    <a href="#" class="button" id="button10">射命丸文</a>
    <a href="#" class="button" id="button11">犬走椛</a>
    <a href="#" class="button" id="button12">秦こころ</a>
    <a href="#" class="button" id="button13">西行寺幽々子</a>
    <a href="#" class="button" id="button14">パチュリー・ノーレッジ</a>
    <a href="#" class="button" id="button15">アリス・マーガトロイド</a>
    <a href="#" class="button" id="button16">藤原妹紅</a>
    <a href="#" class="button" id="button17">ルーミア</a>
    <a href="#" class="button" id="button18">鈴仙・優曇華院・イナバ</a>
    <a href="#" class="button" id="button19">洩矢諏訪子</a>
    <a href="#" class="button" id="button20">その他</a>
  </div>
  <div class="image_container">
    {% for content in contents %}
    <div class="image">
      <a href="{{ url_for('content', content_id=content.id) }}">
        <img
          src="{{ url_for('static', filename=content.icon) }}"
          alt="{{ content.name }}"
        />
      </a>
    </div>
    {% endfor %}
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
  <script src="{{ url_for('static', filename='js/contents.js') }}"></script>
</main>
{% endblock %}
