{% extends "base.html" %} {% block main %}
<main>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <!-- stats - count particles -->
  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <!-- stats.js lib -->
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  <div class="name-button">
    <a
      class="button"
      id="button1"
      href="{{ url_for('contents_sort_by_chara', character_id=1) }}"
      >博麗霊夢</a
    >
    <a
      class="button"
      id="button2"
      href="{{ url_for('contents_sort_by_chara', character_id=2) }}"
      >霧雨魔理沙</a
    >
    <a
      class="button"
      id="button3"
      href="{{ url_for('contents_sort_by_chara', character_id=3) }}"
      >火焔猫燐</a
    >
    <a
      class="button"
      id="button4"
      href="{{ url_for('contents_sort_by_chara', character_id=4) }}"
      >高麗野あうん</a
    >
    <a
      class="button"
      id="button5"
      href="{{ url_for('contents_sort_by_chara', character_id=5) }}"
      >犬走椛</a
    >
    <a
      class="button"
      id="button6"
      href="{{ url_for('contents_sort_by_chara', character_id=6) }}"
      >ルーミア</a
    >
    <a
      class="button"
      id="button7"
      href="{{ url_for('contents_sort_by_chara', character_id=7) }}"
      >秦こころ</a
    >
    <a
      class="button"
      id="button8"
      href="{{ url_for('contents_sort_by_chara', character_id=8) }}"
      >洩矢諏訪子</a
    >
    <a
      class="button"
      id="button9"
      href="{{ url_for('contents_sort_by_chara', character_id=9) }}"
      >蓬莱山輝夜</a
    >
    <a
      class="button"
      id="button10"
      href="{{ url_for('contents_sort_by_chara', character_id=10) }}"
      >藤原妹紅</a
    >
    <a
      class="button"
      id="button11"
      href="{{ url_for('contents_sort_by_chara', character_id=11) }}"
    >
      鈴仙・優曇華院・イナバ
    </a>
    <a
      class="button"
      id="button12"
      href="{{ url_for('contents_sort_by_chara', character_id=12) }}"
    >
      マエリベリー・ハーン
    </a>
    <a class="button" id="button13" href="{{ url_for('contents') }}">
      指定なし
    </a>
  </div>
  <div class="image_container">
    {% for content in contents %}
    <div class="image">
      <a href="{{ url_for('content', content_id=content.id) }}">
        <img
          src="{{ url_for('static', filename=content.icon) }}"
          alt="{{ content.name }}"
        />
      </a>
    </div>
    {% endfor %}
  </div>
  <script src="{{ url_for('static', filename='js/contents.js') }}"></script>
</main>
{% endblock %}
