{% extends "base.html" %} {% block main %}
<div class="main-container">
  <div class="header-container">
    <div class="custom-header">
      <img src="{{ url_for('static', filename=creator.background) }}" alt="" />
    </div>
    <div class="icon-container">
      <img src="{{ url_for('static', filename=creator.icon) }}" class="icon" />
    </div>
    <div class="follow-box">
      <h1 class="follow">follow</h1>
    </div>
  </div>
  <div class="main2-container">
    <div class="name-container">
      <div class="name-box">
        <div class="name">{{ creator.name }}</div>
      </div>
      {% if creator.twitter %}
      <div class="SNS-container">
        <div class="SNS-background">
          <a
            href="{{ creator.twitter }}"
            target="_blank"
            rel="noopener noreferrer"
            class="SNS-name"
            >Twitter</a
          >
        </div>
        {% endif %} {% if creator.pixiv %}
        <div class="SNS-background">
          <a
            href="{{ creator.pixiv }}"
            target="_blank"
            rel="noopener noreferrer"
            class="SNS-name"
            >pixiv</a
          >
        </div>
        {% endif %} {% if creator.skeb %}
        <div class="SNS-background">
          <a
            href="{{ creator.skeb }}"
            target="_blank"
            rel="noopener noreferrer"
            class="SNS-name"
            >skeb</a
          >
        </div>
        {% endif %} {% if creator.mail %}
        <div class="SNS-background">
          <a
            href="mailto:dorocie.illustration@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            class="SNS-name"
            >Mail</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <div class="self-introduction-box">
      <h1 class="self-introduction">{{ creator.introduce | safe}}</h1>
    </div>
    <div class="line"></div>

    <div class="illustration-box">
      <h1 class="illustration">Illust</h1>
    </div>
    <div class="illustration-container">
      {% for otherwork in otherworks %}
      <div class="illustration_field{{ otherwork.index }}">
        <a href="{{ otherwork.link }}" target="_blank" rel="noopener noreferrer"
          ><img src="{{ url_for('static', filename=otherwork.filename) }}"
        /></a>
      </div>
      {% endfor %}
    </div>

    <div class="illustration-box">
      <h1 class="illustration">the work</h1>
    </div>
    {% for content in contents %}
    <div class="the-work{{ loop.index }}">
      <a href="GALLARY-Suwako2.html"
        ><img src="{{ url_for('static', filename=content.filename) }}"
      /></a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
