{% extends "base.html" %} {% block main %}
<main>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <!-- stats - count particles -->
  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <!-- stats.js lib -->
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

  <div class="creator_container">
    {% for creator in creators %}
    <div class="creator">
      <a href="{{ url_for('creator', creator_id=creator.id) }}">
        <img
          src="{{ url_for('static', filename=creator.icon) }}"
          alt="{{ creator.name }}"
        />
      </a>
    </div>
    {% endfor %}
  </div>
</main>
<script src="{{ url_for('static', filename='js/particle.js') }}"></script>
{% endblock %}
