{% extends "base.html" %} 
{% block main %}
<div class="main-container">
  <div class="question-box">
    <img src="image/How-to八雲紫.png" class="circle-image" />

    <div class="text-container">
      <div class="interrogative-text">このサイトって何が出来るの？</div>
      <div class="interrogative-text-2">What can this site do?</div>
    </div>
  </div>
  <div class="answer-1-box">
    <div class="answer-1-container">
      <img src="image/How-to博麗霊夢.png" class="answer-1-numbers" />
    </div>
    <div class="answer-1-text-container">
      <div class="answer-1-text">立ち絵をダウンロードできる</div>
      <div class="answer-1-text-2">
        GALLERYページからお好みの立ち絵を選びダウンロードページに移動。<br />
        「ダウンロード」ボタンを押していただくと立ち絵のZIPファイルがダウンロードできます。
      </div>
    </div>
  </div>
  <div class="answer-2-box">
    <div class="answer-2-container">
      <img src="image/How-to霧雨魔理沙.png" class="answer-2-numbers" />
    </div>
    <div class="answer-2-text-container">
      <div class="answer-2-text">立ち絵を依頼できる</div>
      <div class="answer-2-text-2">
        Artistのページで立ち絵依頼のコースと依頼方法をご確認頂けます。<br />
        選択したコースにより依頼方法が異なりますのでご注意ください。
      </div>
    </div>
  </div>
  <div class="answer-3-box">
    <div class="answer-3-container">
      <img src="image/How-to東風谷早苗.png" class="answer-3-numbers" />
    </div>
    <div class="answer-3-text-container">
      <div class="answer-3-text">イラストレーターの情報を見れる</div>
      <div class="answer-3-text-2">
        Artistのページより当サイトでの立ち絵掲載許可を頂いたイラストレーターの情報ご確認頂けます<br />
        イラストレーターが過去、描いたイラストも掲載されています。是非ご覧ください。
      </div>
    </div>
  </div>
</div>
<script src="js/HOWTO.js"></script>
{% endblock %}
