{% extends "base.html" %} {% block main %}
<!-- particles.js container -->
<div id="particles-js"></div>
<!-- stats - count particles -->
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<div class="container1">
  <!-- グレーの四角形を表示する要素 -->
  <div class="gray-square">
    <p class="letter"><b>立ち絵の利用規約</b></p>
    <div class="white-text">
      <b> ◇適用◇</b> <br />
      <ul>
        <li>
          本規約は、当サイトの立ち絵を所持されたユーザーと立ち絵権利保持者との間の立ち絵の扱いに関わる一切の関係に適用されるものとします。
        </li>
        <li>
          立ち絵利用に関し、本規約の他、ご利用に当たってのルール等、各種の定め(以下、「個別規定」と記載します。)をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。
        </li>
        <li>
          本規約の規定が個別規定と矛盾する場合には、個別規定において特段の定めなき限り、本規約が優先されるものとします。
        </li>
      </ul>
      <br />
      <b> ◇利用規約◇</b><br /><br />
      ○前提条件○<br />
      <ul>
        <li>東方projectの二次創作ガイドラインを遵守しご使用ください。</li>
        <li>立ち絵を所持した後のトラブルは全て自己責任となります。</li>
        <li>使用時は当サイトのクレジットを必ず表記してください。</li>
      </ul>

      ○禁止事項○<br />
      <ul>
        <li>自作発言、またはそう誤解されるような発言</li>
        <li>特定の思想を発信する目的での使用</li>
        <li>法に触れる可能性のある使用、また、公序良俗に反する使用</li>
      </ul>
      <b> ◇商用利用について◇</b>
      <ul>
        <li>
          商用利用.再配布は原則禁止です。東方Projectの公式が許可する範囲内ならば媒体を問わず広告費で利益を得る活動が可能です。
        </li>
      </ul>
      <b>◇その他◇</b><br />
      <ul>
        <li>この利用規約はは予告なく変更されることがあります。</li>
        <li>
          上記規約に触れない行為であっても、サイト運営側の判断で立ち絵の利用を止めていただく場合があります。
        </li>
      </ul>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/particle.js') }}"></script>
  {% endblock %}
</div>
