{% extends "base.html" %} {% block main %}
<div class="container1">
  <!-- グレーの四角形を表示する要素 -->
  <div class="gray-square">
    <p class="letter">当サイトが配布している立ち絵に関しての規約</p>
    <div class="White-square">
      <div class="white-text">
        <b> ◇適用◇</b><br />
        <ul>
          <li>
            本規約は、当サイトの立ち絵を所持されたユーザーと立ち絵権利保持者との間の立ち絵の扱いに関わる一切の関係に適用されるものとします。
          </li>
          <li>
            立ち絵利用に関し、本規約の他、ご利用に当たってのルール等、各種の定め(以下、「個別規定」と記載します。)をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。
          </li>
          <li>
            本規約の規定が個別規定と矛盾する場合には、個別規定において特段の定めなき限り、本規約が優先されるものとします。
          </li>
        </ul>
        <b> ◇利用規約◇</b><br /><br />
        ○前提条件○<br />
        <ul>
          <li>東方projectの二次創作ガイドラインを遵守しご使用ください。</li>
          <li>立ち絵を所持した後のトラブルは全て自己責任となります。</li>
          <li>
            使用時は当サイトのクレジットを必ず表記してください。（例
            雲丹園（@uninosono）
          </li>
        </ul>

        ○禁止事項○
        <ul>
          <li>自作発言、またはそう誤解されるような発言</li>
          <li>特定の思想を発信する目的での使用</li>
          <li>法に触れる可能性のある使用、また、公序良俗に反する使用</li>
        </ul>
        ◇商用利用について◇
        <li>
          当サイトで配布されている立ち絵は全てYoutube.ニコニコ動画.webサイトなど媒体を問わず広告費で利益を得る商用利用が可能です。立ち絵配布目的の雑誌やサイトなどで、二次配布、販売する行為は出来ません。また立ち絵をそのまま商品として直接販売する行為も禁止となります。
        </li>
        <b>◇その他◇</b><br />
        <ul>
          <li>この利用規約はは予告なく変更されることがあります。</li>
          <li>
            上記規約に触れない行為であっても、サイト運営側の判断で立ち絵の利用を止めていただく場合があります。
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
