{% extends 'base.html' %} {% block main %}
<div class="container1">
  <p class="letter">登録情報の確認</p>
  <form method="post" action="/signup4">
    <div class="White-square">
      <div id="confirmedNameDisplay">
        <div class="name">
          <label for="name-label">name:</label>
          <input type="text" id="confirmedName" class="comment-input" />
        </div>
        <div class="dotted-border"></div>
      </div>
      <div id="confirmedPSDisplay">
        <div class="PS">
          <label for="PS-label">PS:</label>
          <input type="text" id="confirmedPS" class="comment-input-PS" />
        </div>
      </div>
    </div>
  </form>
  <div class="black-square">
    <a href="{{ url_for('signup4') }}" class="link">
      <p class="Next-text">次の画面へ</p>
    </a>
  </div>
</div>
<script src="{{ url_for('static', filename='js/signup3.js') }}"></script>
{% endblock %}
