{% extends 'base.html' %} {% block main %}
<div class="container1">
  <!-- グレーの四角形を表示する要素 -->
  <p class="letter">会員登録</p>
  <form method="post" action="/signup3">
    <div class="White-square">
      <!-- 名前の入力欄 -->
      <div class="name">
        <input
          type="text"
          id="name"
          class="comment-input"
          placeholder="ユーザー名を入力してください…"
        />
        <p class="name-condition">全角半角2～7字以内</p>
      </div>
      <!--<div class="dotted-border"></div>-->

      <!--<div class="dotted-border2"></div>-->
      <!-- PSの入力欄 -->
      <div class="PS hidden">
        <input
          type="password"
          id="PS"
          class="comment-input-PS"
          placeholder="パスワードを入力してください…"
        />
        <p class="ps-condition">半角英数記号6～32字以内</p>
      </div>
      <!-- PS確認の入力欄 -->
      <div class="confirmation hidden">
        <p class="confirmation-Re-enter">パスワード再入力</p>
        <input
          type="password"
          id="confirmation"
          class="comment-input-confirmation"
          placeholder="パスワードを再入力してください…"
        />
      </div>
    </div>
  </form>

  <div class="black-square" onclick="validateForm()">
    <p class="Next-text">入力項目の確認へ</p>
  </div>
</div>
<script src="{{ url_for('static', filename='js/signup2.js') }}"></script>
{% endblock %}
