{% extends 'base.html' %} {% block main %}
<div class="container1">
  <!-- グレーの四角形を表示する要素 -->
  <p class="letter">会員登録に関しての規約</p>
  <div class="White-square">
    <p class="white-text">
      会員登録に関する規約 <br /><br />
      1. アカウント情報の登録<br />
      利用者は、本利用規約に同意した上でアカウント情報(登録された情報及びアカウントに関する全ての権利、権益を含みます。以下同様)の登録を行い、登録したアカウント情報を使用して、当サイトを利用することができるものとします。なお、アカウント情報が不正確又は虚偽であるために利用者に損害が発生しても、当サイトの運営側（以下、運営と記載します）は一切責任を負わないものとし、利用者はこれに同意するものとします。<br />
      利用者が登録したアカウント情報で利用可能な個別サービスの追加及びその他の変更については、運営が任意に行うことができるものとし、利用者はこれに同意します。<br />
      利用者は、自己のアカウント情報を、いかなる目的でも、第三者に対して、譲渡、貸与、使用等させることはできないものとします。<br />
      会員登録の際に如何なる理由で合っても個人特定に繋がる情報を入力できないものとします。誤って入力してしまった場合、運営がデータを完全に削除し会員登録を無効にします。<br /><br />
      2. アカウントの管理等<br />
      利用者は、アカウント情報を自己の責任と権限において管理するものとし、運営は、登録したアカウント情報によって当サイトが利用された場合、当該アカウント情報を登録した利用者本人による利用とみなすものとします。<br />第三者によりアカウント情報が不正に使用され、利用者に損害が発生した場合であっても、当該アカウント情報を登録した利用者本人がその全ての責任を負うものとします。<br /><br />
      3. 運営側の個人情報の取扱い<br />
      利用者によって登録いただいた情報は以下の場面で使用されます。<br />
      .利用者識別<br />
      運営は上記の項目でのみ登録頂いた情報を使用します。また、利用者はこれに同意するものとします。<br />
    </p>
  </div>
  <div class="black-square">
    <a href="{{ url_for('signup2') }}" class="link">
      <p class="Next-text">規約に同意し会員登録へ</p>
    </a>
  </div>
</div>
{% endblock %}
