{% extends 'base.html' %} {% block main %}
<div class="container1">
  <p class="letter">登録情報の確認</p>
  <form method="post" action="/signup4">
    <div class="White-square">
      <div id="confirmedNameDisplay">
        <div class="name">
          <label for="name-label">name:</label>
          <input
            type="text"
            id="confirmedName"
            class="comment-input"
            name="name"
          />
        </div>
        <div class="dotted-border"></div>
      </div>
      <div id="confirmedPSDisplay">
        <div class="PS">
          <label for="PS-label">PS:</label>
          <input
            type="text"
            id="confirmedPS"
            class="comment-input-PS"
            name="password"
          />
        </div>
      </div>
    </div>
    <div class="black-square">
      <button type="submit">登録確定へ</button>
    </div>
  </form>
</div>
<script src="{{ url_for('static', filename='js/signup3.js') }}"></script>
{% endblock %}
