body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-container {
  height: 690px;
  display: flex;
  background: url(../image/doroshi3.png) center center no-repeat,
    rgba(46, 46, 46, 0.7);
  background-size: cover; /* 縦横の表示サイズをカバーに設定 */
}
.left-container {
  width: 75%;
  overflow-y: hidden; /* 縦スクロールを無効にする */
  display: flex; /* Flexboxを有効にする */
}

.artist-info-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
}

.info-left {
  width: 20%;
}

.artist-icon {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;
  margin-top: 20%;
  margin-left: 30%;
  clip-path: circle(50px at center);
}

.info-right {
  width: 80%;
}

.info-right-lower {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-container {
  width: 25%;
  position: relative;
  display: flex; /* Flexboxを有効にする */
  overflow-y: hidden; /* 縦スクロールを無効にする */
}

.haikei {
  width: 100%;
  height: 690px;
  filter: blur(3px);
  opacity: 0.5;
  object-fit: cover;
  overflow: hidden;
}

.Dolsie {
  width: 100%;
  height: 710px;
  overflow-y: scroll;
}

.rectangle {
  position: relative;
  width: 100%; /* 100%は親要素(.Dolsie)に対しての幅 */
  overflow-y: hidden; /* .rectangle内の縦スクロールを無効にする */
}

.gazou1,
.gazou2,
.gazou3 {
  width: 100%;
  height: auto;
  z-index: 3;
}

.gazou2,
.gazou3 {
  max-width: 450px;
}

.name {
  white-space: nowrap;
  color: #100f0f;
  font-size: 25px;
  font-family: "Be Vietnam Pro";
  font-weight: bold;
  margin-top: 55px;
  margin-left: 30px;
  z-index: 3;
}

/* SNS */
.sns-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px; /* 長方形の幅を調整 */
  height: 70px; /* 長方形の高さを調整 */
  background-color: rgb(66, 64, 64); /* 薄水色の背景色 */
  z-index: 1; /* squareのz-indexを設定 */
  clip-path: inset(20px 20px 20px 20px round 15px);
  border: 4px dashed #4a4a4a; /* ボーダーの幅と種類、色 */
}
.sns-frame a {
  text-decoration: none;
  color: rgb(219, 186, 186) !important;
  font-family: "Be Vietnam Pro";
  font-weight: bold;
  font-size: 23px;
  z-index: 1;
}
