body {
  overflow-x: hidden; /* 横スクロールを禁止 */
  overflow-y: scroll; /* 縦スクロールを許可 */
  margin-top: 100px; /* メニューバーの高さ分だけコンテンツを下げる */
  /* 50%の拡大率のスタイル */
}
.top {
  overflow: hidden;
  position: relative;
}
.top img {
  /* 画像の幅を100%に設定 */
  width: 1540px;
  height: 100px;
  height: auto;
  position: fixed; /* 固定位置に配置 */
}
