.main-container {
  width: 80%; /* 1300px の 80% */
  max-width: 1300px; /* 最大幅を指定 */
  height: auto; /* 高さを自動調整 */
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh; /* 上部のマージンを調整 */
  background: url(../image/How-to実験.png) center center no-repeat;
  animation: fadeIn 5s ease 1s 1 normal backwards;
}
.question-box {
  width: 1000px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  animation: fadeIn 5s ease 1s 1 normal backwards;
}
.circle-container {
  position: relative;
  width: 150px; /* 円の直径 */
  height: 150px;
  border-radius: 50%;
  border: 2px solid black; /* 黒い線 */
  overflow: hidden;
}
.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像が円内にフィットするように */
  margin-top: 0px;
}
.text-container {
  margin-left: 40px;
  width: 700px;
  height: 150px;
}
.interrogative-text {
  font-size: 50px;
  font-family: "けいふぉんと";
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  letter-spacing: 5px;
  white-space: nowrap;
  position: relative;
}
.interrogative-text-2 {
  font-size: 20px;
  font-family: "LEMON MILK";
  margin-top: 0;
  margin-left: 90px;
  letter-spacing: 10px;
  white-space: nowrap;
  bottom: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.answer-1-box {
  width: 80%; /* 1000px の 80% */
  max-width: 1000px; /* 最大幅を指定 */
  height: auto; /* 高さを自動調整 */
  margin-left: 4%; /* 左のマージンを調整 */
  margin-right: auto;
  margin-top: 3vh; /* 上部のマージンを調整 */
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  animation: fadeIn 5s ease 1s 1 normal backwards;
}
.answer-1-container {
  position: relative;
  width: 150px; /* 円の直径 */
  height: 150px;
  border-radius: 50%;
  border: 2px solid black; /* 黒い線 */
  overflow: hidden;
}
.answer-1-numbers {
  font-size: 90px;
  margin-top: 170px;
  margin-left: 30px;
  object-fit: cover; /* 画像が円内にフィットするように */
  margin-top: 0px;
}
.answer-1-text-container {
  margin-left: 40px;
  width: 700px;
  height: 150px;
}
.answer-1-text {
  font-size: 40px;
  font-family: "けいふぉんと";
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  letter-spacing: 5px;
  white-space: nowrap;
  position: relative;
}
.answer-1-text-2 {
  font-size: 20px;
  font-family: "ぼくたちのゴシック2ボールド";
  margin-top: 0;
  margin-left: 0px;
  letter-spacing: 3px;
  white-space: nowrap;
  bottom: 0;
}

.answer-2-box {
  width: 80%; /* 1000px の 80% */
  max-width: 1000px; /* 最大幅を指定 */
  height: auto; /* 高さを自動調整 */
  margin-left: 4%; /* 左のマージンを調整 */
  margin-right: auto;
  margin-top: 5.5vh; /* 上部のマージンを調整 */
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  animation: fadeIn 5s ease 1s 1 normal backwards;
}
.answer-2-container {
  position: relative;
  width: 150px; /* 円の直径 */
  height: 150px;
  border-radius: 50%;
  border: 2px solid black; /* 黒い線 */
  overflow: hidden;
}
.answer-2-numbers {
  font-size: 90px;
  margin-top: 170px;
  margin-left: 27px;
  object-fit: cover; /* 画像が円内にフィットするように */
  margin-top: 0px;
}
.answer-2-text-container {
  margin-left: 40px;
  width: 700px;
  height: 150px;
}
.answer-2-text {
  font-size: 40px;
  font-family: "けいふぉんと";
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  letter-spacing: 5px;
  white-space: nowrap;
  position: relative;
}
.answer-2-text-2 {
  font-size: 20px;
  font-family: "ぼくたちのゴシック2ボールド";
  margin-top: 0;
  margin-left: 0px;
  letter-spacing: 3px;
  white-space: nowrap;
  bottom: 0;
}

.answer-3-box {
  width: 80%; /* 1000px の 80% */
  max-width: 1000px; /* 最大幅を指定 */
  height: auto; /* 高さを自動調整 */
  margin-left: 4%; /* 左のマージンを調整 */
  margin-right: auto;
  margin-top: 5.5vh; /* 上部のマージンを調整 */
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  animation: fadeIn 5s ease 1s 1 normal backwards;
}
.answer-3-container {
  position: relative;
  width: 150px; /* 円の直径 */
  height: 150px;
  border-radius: 50%;
  border: 2px solid black; /* 黒い線 */
  overflow: hidden;
}
.answer-3-numbers {
  font-size: 90px;
  margin-top: 170px;
  margin-left: 27px;
  object-fit: cover; /* 画像が円内にフィットするように */
  margin-top: 0px;
}
.answer-3-text-container {
  margin-left: 40px;
  width: 700px;
  height: 150px;
}
.answer-3-text {
  font-size: 40px;
  font-family: "けいふぉんと";
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  letter-spacing: 5px;
  white-space: nowrap;
  position: relative;
}
.answer-3-text-2 {
  font-size: 20px;
  font-family: "ぼくたちのゴシック2ボールド";
  margin-top: 0;
  margin-left: 0px;
  letter-spacing: 3px;
  white-space: nowrap;
  bottom: 0;
}
