
.Other-portraits{
  display: flex; /* 子要素を横並びにする */
    opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease; /* フェードインにトランジションを追加 */
    position: absolute;
    top: 0px;
    left: -380px;
}
.Other-portraits.show {
    opacity: 1;
    visibility: visible;
  }
.Other-portraits img {
    height: auto;
    transition: transform .6s ease; /* ゆっくり変化させる */
  }
  .Other-portraits :hover img {
    transform: scale(1.1); /* 拡大 */
  }
  .Mokou-Funiwarano,
  .Reisen-Udongein,
  .Maribel-Hearn {
    width: 500px;
    height: 350px;
    z-index: 2;
    clip-path: circle(60px at center);
    margin-right: -280px; /* 画像間の余白を設定 */
  }
  .Maribel-Hearn {
    margin-right: 0;
  }
  .zenntai{
    position: absolute;
    left: 80px;
  }