body {
  margin: 0;
}

.content {
  position: relative;
}

.top {
  overflow: hidden;
}

.top img {
  width: 100%;
  height: auto; /* 高さを自動調整 */
  object-fit: cover;
  object-position: center top;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.top img.show {
  opacity: 1;
}

.top2 {
  display: none;
}

/* スマートフォン用のスタイル */
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden; /* 横スクロールを禁止 */
    overflow-y: hidden; /* 縦スクロールを禁止 */
  }

  .top2 {
    display: block;
    width: 100%;
    height: auto;
  }

  .top img {
    display: none;
  }
}
