body {
  overflow: hidden; /* 縦横スクロールを禁止 */
  margin: 0;
}

.content {
  position: relative;
}

.top {
  overflow: hidden;
}

.top img {
  width: 100%;
  height: auto; /* 高さを自動調整 */
  object-fit: cover;
  object-position: center top;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.top img.show {
  opacity: 1;
}

/* スマートフォン用のスタイル */
@media screen and (max-width: 600px) {
  body {
    overflow: auto; /* スマホではスクロールを許可 */
  }

  .top img {
    height: auto; /* 高さを自動調整 */
    object-position: center center; /* スマホでは中央に配置 */
  }
}
