.container1 {
  width: 900px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* シャドーの追加 */
}

.letter {
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  font-family: "ぼくたちのゴシック2ボールド";
  font-weight: bold;
}

.white-text {
  font-size: 20px;
  color: black; /* または希望のテキストの色を指定 */
}
@media screen and (max-width: 600px) {
  .container1 {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
  }

  .letter {
    font-size: 20px;
  }

  .white-text {
    font-size: 16px;
  }
}
